{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "rules": {
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": [
        "error", {"devDependencies": ["src/**/*.test.js", "**/*.config.js"]}
    ],
    "no-console": "off",
    "no-param-reassign": "off",
    "no-use-before-define": "off",
    "object-shorthand": "off",
    "prefer-arrow-callback": "off",
  },
  "env": {
      "browser": true
  },
  "globals": {
    "fetch": false
  }
}
